aiofiles
aiohttp
aioshutil
anytree
apscheduler
aria2p
asyncio
beautifulsoup4
bs4
cinemagoer
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
git+https://github.com/zevtyardt/lk21.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
gunicorn
heroku3
html-telegraph-poster
html_telegraph_poster
httpx
imdbinfo
langcodes[data]
lxml
markdown
megasdk
motor
mutagen
natsort
pillow
psutil
pybase64
pycountry
pycryptodome
pymongo
pyrofork
pyrogram
python-dotenv
python-magic
pytz
qbittorrent-api
requests
setuptools
simple-justwatch-python-api
speedtest-cli
telegraph
tenacity
tgcrypto
tmdbv3api
urllib3
uv
uvloop
waybackpy
xattr
yt-dlp[default,curl-cffi]
