aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
cinemagoer
cryptography
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
pytz
pillow
psutil
pybase64
pycountry
pymongo
pyrofork
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgcrypto
heroku3
uv
uvloop
xattr
setuptools
yt-dlp
tmdbv3api
imdbinfo
beautifulsoup4
cloudscraper
simple-justwatch-python-api
html-telegraph-poster
